* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(33, 33, 51);
}


li {
    list-style: none;
}

a {
    color: rgb(255, 0, 179);
    text-decoration: none;
}